<?xml version="1.0" encoding="ISO-8859-1"?>
<CONFIGURACION>
    <URL>     
        <BACK>
            <HOST>http://localhost/electronico/</HOST>
            <DESCRIPCION> Se regresa a la pantalla de bienvenida </DESCRIPCION>
        </BACK> 
        <LOGIN>
            <HOST>http://localhost/electronico/</HOST>
            <DESCRIPCION>Servidor web para gestion de usuarios </DESCRIPCION>
        </LOGIN>
    </URL>
    <CODIGO>     
        <BARRAS>
            <HOST>http://localhost/electronico/</HOST>
            <DESCRIPCION> Ruta del generador de codigo de barras </DESCRIPCION>
        </BARRAS> 
        <QR>
            <HOST>http://localhost/electronico/</HOST>  
            <DESCRIPCION>Ruta del generador del codigo de barras qr</DESCRIPCION>
        </QR>
    </CODIGO>
    <LOGS>
        <LOG>
            <HOST>../../servidor/logs/</HOST> 
            <DESCRIPCION>Ruta del lugar donde se guardaran los logs del sistema</DESCRIPCION>
        </LOG>
    </LOGS>
    <EMAILS>
        <NOTIFICACIONPENAL>
            <HOST>../../servidor/logs/notificacion</HOST> 
            <DESCRIPCION>Ruta del lugar donde se guardaran los logs del sistema</DESCRIPCION>
        </NOTIFICACIONPENAL>
    </EMAILS>
    <WEBSERVICE>
        <GESTION>
            <HOST>http://10.22.157.20/gestion2/servidor/</HOST> 
            <DESCRIPCION>La ruta de los servicios web de gestion</DESCRIPCION> 
        </GESTION>
    </WEBSERVICE>
    <FOTOSPERSONAL>
        <FOTOS>
            <HOST>http://10.22.157.20/gestion2/</HOST> 
            <DESCRIPCION>La ruta de los servicios web de gestion</DESCRIPCION> 
        </FOTOS>
    </FOTOSPERSONAL>
    <DIGITALIZACION>
        <MODULODIGITALIZACION>
            <HOST>../../vistas/img/MultiFileUploader.swf</HOST> 
            <DESCRIPCION>La ruta del modulo de digitalizacion</DESCRIPCION> 
        </MODULODIGITALIZACION>
    </DIGITALIZACION>
    <VISORDOCUMENTOS>
        <LISTARDOCUMENTOS>
            <HOST>../../digitalizacion/index.php</HOST> 
            <DESCRIPCION>La ruta del modulo de digitalizacion</DESCRIPCION> 
        </LISTARDOCUMENTOS>
    </VISORDOCUMENTOS>
</CONFIGURACION>
